    <script src="<%= basePath %>/core/js/jquery.min.js"></script>
    <script type="text/javascript" data-main="<%= basePath %>/module<%= currentPage %>.js" src="<%= basePath %>/core/require.js"></script>
</body>
</html>
